// Общие кнопки
.btn {
  display: block;
  padding: 5px 5px 4px;
  user-select: none;
  outline: none ;
  text-decoration: none;
  cursor: pointer;
  transition: all .2s ease;
  font-style: normal;;
  text-align: center;
  width: 100%;
  border: none;
  line-height: 1.42;


  background: linear-gradient(0deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), #092156;
  border-radius: 4px;

  font-weight: 500;
  font-size: 35px;


  color: #FFFFFF;

  &:hover,
  &:focus {
    background: linear-gradient(91.23deg, #eb00ff -3.75%, rgba(235, 0, 255, 0) 103.79%), #8c25ee;
  }

  &:active {
    background: linear-gradient(90.95deg, #00ffc2 -18.35%, rgba(57, 251, 239, 0) 76.18%), #0094ff;
  }
}

