* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html {
  max-width: 100vw;
  overflow-x: hidden;
  min-height: 100%;
}

body {
  //overflow: hidden;
  //overflow-x: hidden;
  position: relative;
  line-height: 1.42;
  //прибивка футера к низу
  display: flex;
  flex-direction: column;

}

.main-wrapper {
  flex: 1 0 auto;
  overflow: hidden;
  padding-bottom: 400px;

}

.footer {
  flex: 0 0 auto;
  overflow: hidden;
  max-width: 100vw;
}

.container {
  width: 100%;
  max-width: 1264px;
  margin: 0 auto;
  padding: 0 20px;

}



html.overflow-hidden {
  overflow: hidden;
}

html.overflow-hidden body {
  overflow: hidden;
}









.all-title {
  line-height: 1.3;
  color: #000000;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 35px;
  @include desktop {
    font-size: 22px;

  }


}

.all-subtitle {
  color: #000000;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 25px;
}




.main-input {
  height: 50px;
  border-radius: 5px;
  border: 1px solid #000000;
  outline: none;
  padding: 15px 10px;
  width: 100%;
  &:focus {
    box-shadow: 0 0 30px rgba(183, 183, 183, 0.5);
    border-color: #ffffff;

  }

}
