extend include/template_base


block variables
	-
		var title = 'Заглушка';

block content
	.dummy-page
		.dummy-page__container.container
			.dummy-page__wrap
				.dummy-page__title
					| Программа в разработке








