extend include/template_base

include include/blocks/top-screen
include include/blocks/organization
include include/blocks/general
include include/blocks/participants
include include/blocks/program
include include/blocks/partners

block variables
	-
		var title = 'Детальная страница заказа';

block content
	+top-screen()
	+organization()
	+program()
	+participants()
	+partners()
	//+general()








