extend include/template_base



block variables
	-
		var title = 'Детальная страница заказа';

block content
	.list-page
		.list-page__container.container
			.list-page__main-title
				| Список участников
				br
				| Российско-Молдавского Форума
				br
				| экономического
				br
				| сотрудничества
			.list-page__wrap
				.list-page__item
					.list-page__img-box
						img.list-page__img(src="assets/img/c/list-page.svg", alt='')
					.list-page__title
						| Информация о компании
					.list-page__desc
						| Российский государственный финансовый конгломерат, крупнейший транснациональный и универсальный банк Российской Федерации — России, Центральной и Восточной Европы. По итогам 2019 года у «Сбербанка» 96,2 млн активных частных клиентов и 2,6 млн активных корпоративных клиентов
				.list-page__item
					.list-page__img-box
						img.list-page__img(src="assets/img/c/list-page.svg", alt='')
					.list-page__title
						| Информация о компании
					.list-page__desc
						| Российский государственный финансовый конгломерат, крупнейший транснациональный и универсальный банк Российской Федерации — России, Центральной и Восточной Европы. По итогам 2019 года у «Сбербанка» 96,2 млн активных частных клиентов и 2,6 млн активных корпоративных клиентов
				.list-page__item
					.list-page__img-box
						img.list-page__img(src="assets/img/c/list-page.svg", alt='')
					.list-page__title
						| Информация о компании
					.list-page__desc
						| Российский государственный финансовый конгломерат, крупнейший транснациональный и универсальный банк Российской Федерации — России, Центральной и Восточной Европы. По итогам 2019 года у «Сбербанка» 96,2 млн активных частных клиентов и 2,6 млн активных корпоративных клиентов
				.list-page__item
					.list-page__img-box
						img.list-page__img(src="assets/img/c/list-page.svg", alt='')
					.list-page__title
						| Информация о компании
					.list-page__desc
						| Российский государственный финансовый конгломерат, крупнейший транснациональный и универсальный банк Российской Федерации — России, Центральной и Восточной Европы. По итогам 2019 года у «Сбербанка» 96,2 млн активных частных клиентов и 2,6 млн активных корпоративных клиентов
				.list-page__item
					.list-page__img-box
						img.list-page__img(src="assets/img/c/list-page.svg", alt='')
					.list-page__title
						| Информация о компании
					.list-page__desc
						| Российский государственный финансовый конгломерат, крупнейший транснациональный и универсальный банк Российской Федерации — России, Центральной и Восточной Европы. По итогам 2019 года у «Сбербанка» 96,2 млн активных частных клиентов и 2,6 млн активных корпоративных клиентов
				.list-page__item
					.list-page__img-box
						img.list-page__img(src="assets/img/c/list-page.svg", alt='')
					.list-page__title
						| Информация о компании
					.list-page__desc
						| Российский государственный финансовый конгломерат, крупнейший транснациональный и универсальный банк Российской Федерации — России, Центральной и Восточной Европы. По итогам 2019 года у «Сбербанка» 96,2 млн активных частных клиентов и 2,6 млн активных корпоративных клиентов
				.list-page__item
					.list-page__img-box
						img.list-page__img(src="assets/img/c/list-page.svg", alt='')
					.list-page__title
						| Информация о компании
					.list-page__desc
						| Российский государственный финансовый конгломерат, крупнейший транснациональный и универсальный банк Российской Федерации — России, Центральной и Восточной Европы. По итогам 2019 года у «Сбербанка» 96,2 млн активных частных клиентов и 2,6 млн активных корпоративных клиентов
				.list-page__item
					.list-page__img-box
						img.list-page__img(src="assets/img/c/list-page.svg", alt='')
					.list-page__title
						| Информация о компании
					.list-page__desc
						| Российский государственный финансовый конгломерат, крупнейший транснациональный и универсальный банк Российской Федерации — России, Центральной и Восточной Европы. По итогам 2019 года у «Сбербанка» 96,2 млн активных частных клиентов и 2,6 млн активных корпоративных клиентов

