
mixin general(data)
	.general&attributes(attributes)
		.general__container.container
			.general__wrap
				.general__column.general__column_pos_1
					.general__title
						| AGRO-HUB
					.general__desc Текст рыба. потом заменим. государственный финансовый конгломерат, крупнейший транснациональный и универсальный банк Российской Федерации — России, Центральной и Восточной Европы. По итогам 2019 года у «Сбербанка» 96,2 млн активных частных клиентов и 2,6 млн активных корпоративных клиентов
				.general__column.general__column_pos_2
					.general__other-title Генеральный партнер
			
