
mixin general(data)
	.general&attributes(attributes)
		.general__wrap.js--general-wrap
			.general__item
				.general__container.container
					.general__inner-wrap
						.general__column.general__column_pos_1
							.general__img-box.general__img-box_pos_1
								img(src="assets/img/general_1.svg", alt='').general__img
							.general__desc Текст рыба. потом заменим. государственный финансовый конгломерат, крупнейший транснациональный и универсальный банк Российской Федерации — России, Центральной и Восточной Европы. По итогам 2019 года у «Сбербанка» 96,2 млн активных частных клиентов и 2,6 млн активных корпоративных клиентов
						.general__column.general__column_pos_2.general__column_first-slide
							.general__title Генеральный партнер
			.general__item
				.general__container.container
					.general__inner-wrap
						.general__column.general__column_pos_1.general__column_indent_min
							.general__img-box.general__img-box_indent_min.general__img-box_pos_2
								img(src="assets/img/general_2.svg", alt='').general__img
							.general__desc
								| Компания профессионалов с большим опытом и возможностями.
								br
								| Наша компания начинала с организации деловых, выездных и корпоративных мероприятия.
								br
								| Теперь мы реализуем не только мероприятия, но ещё рекламные и промокампании, брендинговые и дизайн-проекты.
								br
								| Мы используем ресурсы компании, чтобы помогать решать задачи бизнеса наших клиентов.

						.general__column.general__column_pos_2.general__column_second-slide
							.general__title.general__title_indent_top Официальный партнер
			.general__item
				.general__container.container
					.general__inner-wrap
						.general__column.general__column_pos_1.general__column_indent_big.general__column_third-slide-first
							.general__img-box.general__img-box_indent_top_big.general__img-box_pos_3
								img(src="assets/img/general_3.svg", alt='').general__img
						.general__column.general__column_pos_2.general__column_third-slide
							.general__title.general__title_indent_left Партнеры форума
							.general__img-box.general__img-box_indent_top.general__img-box_pos_4
								img(src="assets/img/general_4.svg", alt='').general__img

