mixin main-menu()
	ul.main-menu(data-main-menu)
		li.main-menu__item.active(data-main-menu-item)
			a.main-menu__link(href="index.html") О форуме
		li.main-menu__item(data-main-menu-item)
			a.main-menu__link(href="/pillows.html") Программа
		li.main-menu__item(data-main-menu-item)
			a.main-menu__link(href="#" ) Участники
		li.main-menu__item(data-main-menu-item)
			a.main-menu__link(href="/kpb.html") Партнеры
