mixin main-menu()
	ul.main-menu(data-main-menu)
		li.main-menu__item.active(data-main-menu-item)
			.main-menu__link(href="index.html" data-slow-scroll-to="#organization") О форуме
		li.main-menu__item(data-main-menu-item data-slow-scroll-to="#program")
			.main-menu__link Программа
		li.main-menu__item(data-main-menu-item data-slow-scroll-to="#participants")
			.main-menu__link Участники
		li.main-menu__item(data-main-menu-item data-slow-scroll-to="#partners")
			.main-menu__link Партнеры
