
mixin media(data)
	.media&attributes(attributes)
		.media__container.container
			.media__wrapper_desc
				.media__main-title.media__main-title_show_desc
					| СМИ о Российско-молдавском сотрудничестве
				.media__main-title.media__main-title_show_mobile СМИ о Форуме
				.media__wrap
					a(href="#").media__item
						.media__img-box
							img.media__img(src="assets/img/c/media_1.png", alt='')
						.media__title
							| Заголовок статьи  о Форуме
						.media__desc
						.media__btn-wrap
							.media__btn.btn Подробнее
					a(href="#").media__item
						.media__img-box
							img.media__img(src="assets/img/c/media_1.png", alt='')
						.media__title
							| Заголовок статьи  о Форуме
						.media__desc
						.media__btn-wrap
							.media__btn.btn Подробнее
					a(href="#").media__item
						.media__img-box
							img.media__img(src="assets/img/c/media_1.png", alt='')
						.media__title
							| Заголовок статьи  о Форуме
						.media__desc
						.media__btn-wrap
							.media__btn.btn Подробнее
					a(href="#").media__item
						.media__img-box
							img.media__img(src="assets/img/c/media_1.png", alt='')
						.media__title
							| Заголовок статьи  о Форуме
						.media__desc
						.media__btn-wrap
							.media__btn.btn Подробнее
					a(href="#").media__item
						.media__img-box
							img.media__img(src="assets/img/c/media_1.png", alt='')
						.media__title
							| Заголовок статьи  о Форуме
						.media__desc
						.media__btn-wrap
							.media__btn.btn Подробнее
					a(href="#").media__item
						.media__img-box
							img.media__img(src="assets/img/c/media_1.png", alt='')
						.media__title
							| Заголовок статьи  о Форуме
						.media__desc
						.media__btn-wrap
							.media__btn.btn Подробнее


