
mixin media(data)
	.media&attributes(attributes)
		.media__container.container
			.media__main-title
				| СМИ о Российско-молдавском сотрудничестве
			.media__wrap
				a(href="#").media__item
					.media__title
						| Заголовок статьи  о Форуме
				a(href="#").media__item
					.media__title
						| Заголовок статьи  о Форуме
				a(href="#").media__item
					.media__title
						| Заголовок статьи  о Форуме
				a(href="#").media__item
					.media__title
						| Заголовок статьи  о Форуме
				a(href="#").media__item
					.media__title
						| Заголовок статьи  о Форуме
				a(href="#").media__item
					.media__title
						| Заголовок статьи  о Форуме
