mixin mobile-menu()
	ul.mobile-menu(data-mobile-menu)
		li.mobile-menu__item.active(data-mobile-menu-item data-slow-scroll-to="#organization")
			.mobile-menu__link Формат Форума
		li.mobile-menu__item(data-mobile-menu-item data-slow-scroll-to="#program")
			.mobile-menu__link Программа
		li.mobile-menu__item(data-mobile-menu-item data-slow-scroll-to="#participants")
			.mobile-menu__link Участники
		li.mobile-menu__item(data-mobile-menu-item data-slow-scroll-to="#partners")
			.mobile-menu__link Партнеры