mixin mobile-menu()
	ul.mobile-menu(data-mobile-menu)
		li.mobile-menu__item.active(data-mobile-menu-item)
			a.mobile-menu__link(href="index.html") Формат Форума
		li.mobile-menu__item(data-mobile-menu-item)
			a.mobile-menu__link(href="/pillows.html") Программmobile-menu.pugа
		li.mobile-menu__item(data-mobile-menu-item)
			a.mobile-menu__link(href="#" ) Участники
		li.mobile-menu__item(data-mobile-menu-item)
			a.mobile-menu__link(href="/kpb.html") Партнеры