
mixin organization(data)
	.organization&attributes(attributes)
		.organization__container.container
			.organization__outer-wrap
				.organization__wrapper_desc
					.organization__main-title
						| Формат Форсайт сессии
					.organization__top
						.organization__wrap
							.organization__row.organization__row_pos_1
								.organization__column.organization__column_pos_1
									.organization__content
										.organization__title
											| Организаторы
											br
											| Форсайт cессии
								.organization__column.organization__column_pos_2
									.organization__logo-wrap
										.organization__logo-item
											img(src="assets/img/organization_1.svg", alt='').organization__logo-img
										.organization__logo-item
											img(src="assets/img/organization_2.svg", alt='').organization__logo-img
										.organization__logo-item
											img(src="assets/img/organization_3.svg", alt='').organization__logo-img
										.organization__logo-item
											img(src="assets/img/organization_4.svg", alt='').organization__logo-img
							.organization__row.organization__row_pos_2
								.organization__column.organization__column_pos_1
									.organization__desc
										| При поддержке Евразийской Экономической Комиссии. Площадка для позиционирования основных двусторонних договоренностей в различных отраслях экономики, а также выработки совместных решений для дальнейшего развития двустороннего сотрудничества в торгово-экономической, агропромышленной, туристической сфере, а также других отраслях экономики.

								.organization__column.organization__column_pos_2
									.organization__desc
										| Студийная трансляция пленарного заседания и дискуссионных сессий в Москве с подключением спикеров из Молдовы в режиме телемоста из студии.

							.organization__row.organization__row_pos_3
								.organization__column.organization__column_pos_1
									.organization__btn-wrap.organization__btn-wrap_pos_1
										a(href="#").organization__btn.btn
											| Регистрация
											br
											|  на участие онлайн
								.organization__column.organization__column_pos_2
									.organization__btn-wrap.organization__btn-wrap_pos_2
										a(href="#").organization__btn.btn
											| Регистрация на участие
											br
											| на площадке
				.organization__wrapper_mobile
					.organization__title.organization__title_indent_bottom
						| Формат Форума
					.organization__desc.organization__desc_indent_bottom
						| Позиционирование в выставочном  формате основных направлений  социально-экономического развития  двух стран для поддержки приоритетных  отраслей, а также бизнес проектов   (площадь 1000-2000 кв.м)
						br
						br
						| Обсуждение перспектив сотрудничества  в формате круглых столов с участием экспертов и представителей деловых кругов двух стран
						br
						br
						| Проведение контрактных бирж и иных мероприятий в формате В2В для активизации экспорта товаров и услуг
					.organization__inner-wrap
						.organization__btn-wrap
							a(href="#").organization__btn.btn
								| Регистрация
								br
								|  на участие онлайн
						.organization__btn-wrap
							a(href="#").organization__btn.btn
								| Регистрация на участие
								br
								| на площадке
				.organization__bottom
					.organization__note
						| *Регистрируясь на сайте, Вы получаете возможность:
						br
						| -задать вопрос спикеру Форсайт сессии;
						br
						| -заранее запланировать b2b встречу на Форуме

