
mixin participants(data)
	.participants&attributes(attributes)
		.participants__container.container
			.participants__wrap
				.participants__main-title.participants__main-title_show_desc Участники Форсайт сессии
				.participants__main-title.participants__main-title_show_phone
					| Участника
					br
					| Форума
				.participants__subtitle  100 000 чел.
				.participants__note
					| количество онлайн
					br
					| участников
				.participants__center
					.participants__column.participants__column_pos_1
						.participants__desc.participants__desc_show_desc
							| Руководители федеральных органов власти, курирующих взаимодействие со странами СНГ, экспорт и внешнюю торговлю, представители региональных администраций, заинтересованные в сотрудничестве между Россией  и Молдовой
						.participants__desc.participants__desc_show_phone
							| Руководители федеральных органов власти, курирующих взаимодействие со странами СНГ, экспорт и внешнюю торговлю, представители региональных администраций, заинтересованные в сотрудничестве между Россией и Молдовой
							br
							br
							| Представители бизнес и общественных объединений, а также представители бизнеса двух стран, заинтересованные во взаимодействии (количество онлайн участников – 100 тыс.)
							br
							br
							| В качестве гостей Форума приглашены представители органов власти и бизнес структур Республики Беларусь


					.participants__column.participants__column_pos_2
						.participants__desc
							| Представители бизнес и общественных объединений, а также представители бизнеса двух стран, заинтересованные во взаимодействии.
							br
							br
							| Ожидаемое количество слушателей сессии – 100 000 человек в России, Молдове и других странах СНГ и Европы, заинтересованных в сотрудничестве.
				.participants__btn-wrap
					a(href="#").participants__btn.btn
						| Посмотреть список участников

