
mixin partners(data)
	#partners.partners&attributes(attributes)
		.partners__container.container
			.partners__main-title Партнеры Форсайт сессии
			.partners__wrap
				.partners__item
					.partners__title Генеральные партнеры
					.partners__list
						.partners__inner-item
							img.partners__img(src="assets/img/partners_1.svg", alt='')
				.partners__item
					.partners__title Официальные партнеры
					.partners__list
						.partners__inner-item
							img.partners__img(src="assets/img/partners_2.svg", alt='')
						.partners__inner-item
							img.partners__img(src="assets/img/partners_3.svg", alt='')
				.partners__item
					.partners__title Партнеры
					.partners__list
						.partners__inner-item
							img.partners__img(src="assets/img/partners_4.svg", alt='')
