
include speakers

mixin program(data)
	#program.program&attributes(attributes)
		.program__container.container
			.program__wrap
				.program__main-title Программа Форсайт сессии
				.program__list
					.program__item
						.program__number
							| 10:00 - 11:00
						.program__text
							|  ПЛЕНАРНОЕ ЗАСЕДАНИЕ:   «Перспективы развития Российско-Молдавского сотрудничества в новых экономических реалиях.   Молдова – страна-наблюдатель ЕАЭС»
					.program__item
						.program__number
							| 11:00 - 11:05
						.program__text
							|  Технический перерыв.   Рекламно-презентационный блок 1.
					.program__item
						.program__number
							| 11:05 - 12:45
						.program__text
							|  Дискуссионная панель 1:  Торгово-экономический и агропромышленный   комплекс. Презентация проекта AGRO-HUB Moldova.
							| Виноделие и винный туризм. Индустрия гостеприимства
					.program__item
						.program__number
							| 12:45 - 12:50
						.program__text
							|  Технический перерыв.   Рекламно-презентационный блок 2.
					.program__item
						.program__number
							| 12:50 - 14:30
						.program__text
							|  Дискуссионная панель 2:  Сотрудничество в сфере промышленности,   энергетики и высоких технологий.
							|  Ключевые инвестиционные проекты
					.program__item
						.program__number
							| 14:30 - 14:35
						.program__text
							|  Завершающий блок
				.program__row
					.program__column.program__column_pos_1
						.program__content
							.program__title Пленарное заседание
							.program__desc
								| «Перспективы развития Российско-Молдавского сотрудничества в новых экономических реалиях. Молдова – страна-наблюдатель ЕАЭС»
							.program__title  Модератор:
							.program__desc
								| - Роман Плюсов, журналист, ведущий канала «Россия 24»
							.program__title Спикеры:
							.program__desc
								| На согласовании
					.program__column.program__column_pos_2
						.program__content
							.program__title Темы для обсуждения:
							.program__desc
								| Презентация бизнес сообществу Российской Федерации и Республики Молдова реализованных договоренностей и достигнутых результатов двустороннего сотрудничества (в рамках 15-го и планируемого 16-го заседаний Российско-Молдавской Межправительственной комиссии).
								br

								| Обсуждение перспектив двустороннего сотрудничества по приоритетным проектам.
								br
								| Создание благоприятных условий для развития взаимной торговли и ведения бизнеса.
				.program__speakers
					+speakers()
				.program__bottom
					.program__btn-wrap
						a(href="#").program__btn.btn
							| Скачать программу

