
mixin speakers(data)
	#speakers.speakers&attributes(attributes)
		.speakers__container
			.speakers__wrap
				.speakers__main-title Спикеры пленарного заседания
				.speakers__list
					.speakers__item
						.speakers__img-box
							img.speakers__img(src="assets/img/c/speaker_1.png", alt='')
						.speakers__name Глазьев С.Ю.
						.speakers__desc
							| Член Коллегии (Министр)  по интеграции и макроэкономике  Евразийской экономической  комиссии

					.speakers__item
						.speakers__img-box
							img.speakers__img(src="assets/img/c/speaker_2.png", alt='')
						.speakers__name Патрушев Д. Н.
						.speakers__desc
							| Министр сельского  хозяйства Российской  Федерации

					.speakers__item
						.speakers__img-box
							img.speakers__img(src="assets/img/c/speaker_3.png", alt='')
						.speakers__name Пержу Ион
						.speakers__desc
							| Министр сельского  хозяйства Республики  Молдова

					.speakers__item
						.speakers__img-box
							img.speakers__img(src="assets/img/c/speaker_4.png", alt='')
						.speakers__name Пугинский С.Б.
						.speakers__desc
							| Генеральный директор  Российского торгово- финансового союза

					.speakers__item
						.speakers__img-box
							img.speakers__img(src="assets/img/c/speaker_5.png", alt='')
						.speakers__name Вербенюк Родика
						.speakers__desc
							| Руководитель Агентства  по инвестициям Республики  Молдова

					.speakers__item
						.speakers__img-box
							img.speakers__img(src="assets/img/c/speaker_6.png", alt='')
						.speakers__name Киртока В.А.
						.speakers__desc
							| Президент холдинга  DAAC-Hermes
