
mixin top-screen(data)
	.top-screen&attributes(attributes)
		.top-screen__container.container
			.top-screen__wrap
				.top-screen__title
					| Российско-Молдавский
					br
					| Форум экономического
					| cотрудничества
				.top-screen__subtitle / Форсайт сессия /
				.top-screen__desc
					| 1 октября, Москва,
					br
					| конгресс-парк «ВОЛЫНСКОЕ»
