mixin footer(data)
	footer.footer
		.footer__container.main-container
			.footer__top
				.footer__wrap
					.footer__column.footer__column_pos_1
						.footer__logo.footer__logo_pos_1
							img.footer__logo(src="assets/img/footer_logo.png", alt='')
						.footer__logo.footer__logo_pos_2
							img.footer__logo(src="assets/img/logo-fincult.png", alt='')

					.footer__column.footer__column_pos_2
						.footer__soc-wrap
							a(href="#").footer__soc-item
								.footer__soc-img-box
									img.footer__soc-img(src="assets/img/footer_vk.png", alt='')
							a(href="#").footer__soc-item
								.footer__soc-img-box
									img.footer__soc-img(src="assets/img/footer_fb.png", alt='')
							a(href="#").footer__soc-item
								.footer__soc-text Обратная связь
								.footer__soc-img-box.footer__soc-img-box_show-phones
									img.footer__soc-img(src="assets/img/footer_email.png", alt='')
			.footer__bottom
				.footer__bottom-text Техническая поддержка




