include blocks/logo
include blocks/main-menu
include blocks/mobile-menu

mixin header(data)
	header.header
		.header__container.container
			.header__top
				.header__wrap
					.header__column.header__column_pos_1
						+logo()

					.header__column.header__column_pos_2
						+main-menu()
					.header__column.header__column_pos_3
						.header__languages
							a(href="#").header__languages-item
								img.header__languages-img(src="assets/img/rus.svg", alt='')
							a(href="#").header__languages-item
								img.header__languages-img(src="assets/img/mol.svg", alt='')
					.header__column.header__column_pos_4
						.header__burger(data-header-burger)
							img(src="assets/img/gamburger.svg", alt='').header__burger-img
			.header__bottom
				+mobile-menu()


