//- если нужно задать особое поведение/стиль какому-либо элементу используем ключ modifier и в шаблоне прописываем как модификатор
-
	var
		detailOrderLineList  = {
			"active": 3,
			items: [
				{
					"text": "Создан\n<br>" +
							"10.08.2020, \n<br>" +
							"11:33"
				},
				{
					"text": "Зарезерви&shyрован<br>	10.08.2020,<br> 11: 33"
				},
				{
					"text": "Оплачен<br>	10.08.2020,<br>	11: 33"
				},
				{
					"text": "Подтвержден <br>10.08.2020,	<br>11: 33"
				},
				{
					"text": "Передан в доставку"
				}

			]
		}

	detailOrderList = [
		{
			"img": "assets/img/detail-order/c/detail-order_1.png",
			"title": "Синий плательно-блузочный креп-жоржет в горох Ungaro 0219/246",
			"ammount": "3,2 м",
		},
		{
			"img": "assets/img/detail-order/c/detail-order_2.png",
			"title": "Плательный хлопок шитье белого цвета с цветочным принтом Blumarine 0419/50",
			"ammount": "10 м",
		},
		{
			"img": "assets/img/detail-order/c/detail-order_3.png",
			"title": "Плательно-блузочный розовый шифон крэш с крупным абстрактным рисунком 111",
			"ammount": "3,2 м",
		},
		{
			"img": "assets/img/detail-order/c/detail-order_4.png",
			"title": "Плательный хлопок шитье белого цвета с цветочным принтом Blumarine 0419/50",
			"ammount": "10 м",
		},
		{
			"img": "assets/img/detail-order/c/detail-order_2.png",
			"title": "Плательно-блузочный розовый шифон крэш с крупным абстрактным рисунком 111",
			"ammount": "3,2 м",
		},

	]

	$timerList = {
		"days": "3",
		"hours": "10",
		"minutes": "41",
		"seconds": "10",
		"words": {
			"days": "день",
			"hours": "часов",
			"minutes": "минута",
			"seconds": "секунд",
		}
	}


